.container
{
    max-width: auto;
}
.plotdata .container .box_shadow:hover
{
    background-color: white;
    transition: 0.5s;
}
.plotdata .gohome 
{
    float: right;
    margin-top: 15px;
    margin-right: 20px;
    color: #05192d;
    background-color: white;
    margin-top: -6%;
}
.plotdata .gohome:hover
{
    
    color: #05192d;
    background-color:#03ef62;
}

.heading h2
{
    color: #03ef62;
    font-size: 30px;
    margin-top: 50px;
}

